In [5]:
# Import the dependencies.
import pandas as pd
import gmaps
import gmaps.datasets
import requests
# Import the API key.
from config import g_key

# Configure gmaps to use your Google API key.
gmaps.configure(api_key=g_key)

In [6]:
# Store the CSV you saved created in part one into a DataFrame.
city_data_df = pd.read_csv("WeatherPy_vacation.csv")
city_data_df.head()

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,0,Punta Arenas,CL,59.00,light rain,-53.16,-70.91,Hotel Dreams Del Estrecho
1,2,Yanliang,CN,45.00,clear sky,34.66,109.22,Pod Inn Xi'an Yanliang Renmin Road
2,5,Cheyenne,US,59.00,clear sky,41.14,-104.82,The Historic Plains Hotel
3,10,Ushuaia,AR,60.80,few clouds,-54.81,-68.31,Albatros Hotel
4,13,Tiznit,MA,65.21,overcast clouds,29.70,-9.73,Hotel Café Restaurant Assaka

In [7]:
# Filter the DataFrame for each city you want to go to and create separate DataFrames for each city.
nepomuceno_df = (city_data_df[city_data_df["City"] == "Coria"])
arrail_do_cabo_df = (city_data_df[city_data_df["City"] == "Saldanha"])
ilhabela_df = (city_data_df[city_data_df["City"] == "Areosa"])
porto_novo_df = (city_data_df[city_data_df["City"] == "Muros"])

nepomuceno_df.iloc[0]["Lat"]

destinations = [nepomuceno_df, arrail_do_cabo_df, ilhabela_df, porto_novo_df]

In [9]:
#Iterate through the DataFrame.
city_tuples = []

for destination in destinations:

    lat = destination.iloc[0]["Lat"]
    lng = destination.iloc[0]["Lng"]

    city_tuples.append((lat,lng))

city_tuples

[(39.98, -6.54), (41.42, -6.55), (41.72, -8.86), (42.77, -9.06)]

In [11]:
#create map with directions
fig = gmaps.figure()

start = city_tuples[0]
waypoints = [city_tuples[1], city_tuples[2]]
end = city_tuples[3]

itinerary = gmaps.directions_layer(start = start, end = end, waypoints = waypoints, travel_mode='DRIVING')

fig.add_layer(itinerary)

fig

Figure(layout=FigureLayout(height='420px'))

In [12]:
destinations_df = (pd.concat([nepomuceno_df, arrail_do_cabo_df, ilhabela_df, porto_novo_df])).set_index("City_ID")
destinations_df

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
City_ID,,,,,,,
367,Coria,ES,57.99,clear sky,39.98,-6.54,Hotel San Cristóbal
101,Saldanha,PT,48.83,scattered clouds,41.42,-6.55,NaN
516,Areosa,PT,57.20,broken clouds,41.72,-8.86,Hotel Flôr de Sal
382,Muros,ES,57.00,broken clouds,42.77,-9.06,Apartment Av. Castelao

In [14]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
<dt>Current Description/dt><dd>{Current Description}</dd>
</dl>
"""

# Store the DataFrame Row.
destinations_info = [info_box_template.format(**row) for index, row in destinations_df.iterrows()]

# Add a pop-up marker for each city.
locations = destinations_df[["Lat", "Lng"]]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=2)
marker_layer = gmaps.marker_layer(locations, info_box_content=destinations_info)
fig.add_layer(marker_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))